.cart-css{
    border: 1px solid rgb(252, 252, 252);
    margin: 20px;
    padding: 20px;
   min-width: 350px;
   background-color: rgb(245, 245, 245);
   box-sizing: border-box;
   border-radius: 10px;
   box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  
}
.cart-css:hover{
    border: 1px solid rgb(252, 252, 252);
    margin: 20px;
    padding: 20px;
   min-width: 350px;
   background-color: rgb(245, 245, 245);
   box-sizing: border-box;
   border-radius: 10px;
   box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
   transform: scale(1.1);
   transition: .4s ease-in-out;

}