.header-css{
    background-image: url("/src/images/bannerbackground.png");
    width: auto;
 height:570px ;
 background-size: cover;
 margin-left: -90px;
 
 
   background-repeat: no-repeat;
}
.header-css h1{
    padding-top: 180px;

}
.searchbar{
    border: 1px solid rgb(253, 253, 253);
    border-radius: 30px ;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
}
.btn-css{
    border-radius: 30px;
    border: 1px solid rgb(253, 253, 253);
    background-color: rgb(249, 25, 68);
    padding: 5px 22px;
    font-weight: 500;
}
.btn-css:hover{
    border: 1px solid rgb(253, 253, 253);
    background-color: rgb(202, 4, 87);
}
.brak-css{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}